@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Outfit", sans-serif;
}

.search-input {
  transition: 0.5s;
}
.search-input:focus {
  width: 350px;
}
